.expression-heading {
    font-size: 18px !important;
    margin-top: 30px;
}

.query-wizard-sub-heading-description h3 {
    font-weight: bold !important;
}

.modal-footer-div {
    display: flex;
    justify-content: space-between !important;
    padding-left: 56px !important;
    padding-left: 56px !important;
}

.query-wizard-expension div {
    margin: 0px 3px;
}

.dropdown-no-m {
    margin-right: 0px !important;
}

.dropdown-with-img {
    margin-right: -2px !important;
    min-height: 47px;
}

.ID-Field {
    width: 450px;
}

.tabs-aggre .nav-link button,
.tabs-aggre .nav-link {
    border: 0px solid #dcdde1 !important;

}

.tabs-aggre button {
    padding: 15px 22px !important;
    color: #4c4c4c !important;
}

.table-fonts td {
    font-size: 14px !important;
    color: #4c4c4c !important;
}

.tabs-sidemenu-accord-container .table-submenu-list li a:hover {
    text-decoration: none !important;
}

.add-comment-section button {
    padding-left: 50px !important;
    padding-right: 50px !important;
}