.expression-heading {
    font-size: 18px !important;
    margin-top: 30px;
}

.query-wizard-sub-heading-description h3 {
    font-weight: bold !important;
}

.modal-footer-div {
    display: flex;
    justify-content: space-between !important;
    padding-left: 56px !important;
    padding-left: 56px !important;
}

.query-wizard-expension div {
    margin: 0px 3px;
}

.dropdown-no-m {
    margin-right: 0px !important;
}

.dropdown-with-img {
    margin-right: -2px !important;
    min-height: 47px;
}

.ID-Field {
    width: 450px;
}

.tabs-aggre .nav-link button,
.tabs-aggre .nav-link {
    border: 0px solid #dcdde1 !important;

}

.tabs-aggre button {
    padding: 15px 22px !important;
    color: #4c4c4c !important;
}

.table-fonts td {
    font-size: 14px !important;
    color: #4c4c4c !important;
}

.tabs-sidemenu-accord-container .table-submenu-list li a:hover {
    text-decoration: none !important;
}

.add-comment-section button {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.table-borderless thead {
    background: none;
    color: #8c8c8c;
    font-family: 'proxima-semi-bold';
    border-bottom: 1px solid #dcdde1;
}

.table-borderless thead th {
    padding-bottom: 20px;
}

.table-borderless {
    border: 0px !important;
    white-space: nowrap;
    width: 100%;
}

.add-tags-left-col {
    width: 75%;
}

.add-tags-container {
    display: flex;
    padding: 20px 10px;
    font-size: 14px;
}

.td-bubble {
    background: #f4f4f4;
    padding: 12px 20px;
    display: inline;
    border-radius: 40px;
}

.table th,
.table td {
    vertical-align: middle !important;
}

.table-icons {
    height: 18px;

}

.icon-td {
    text-align: center !important;
}

.th-icon-div {
    width: 12% !important;
    text-align: center;
}

.table td .table-icons {
    text-align: center;
}

.add-tags-right-col {
    flex: 1;
    margin-left: 60px;
    margin-top: 20px;
}

.tags-field-box input {
    width: 260px;
    padding: 14px 10px;
    border: 1px solid #c2c3c7;
    margin-bottom: 20px;
    border-radius: 5px;

}

.add-tags-right-col .graydient-primary-btn {
    padding-left: 30px;
    padding-right: 30px;
}