.expression-heading {
    font-size: 18px !important;
    margin-top: 30px;
}

.query-wizard-sub-heading-description h3 {
    font-weight: bold !important;
}

.modal-footer-div {
    display: flex;
    justify-content: space-between !important;
    padding-left: 56px !important;
    padding-left: 56px !important;
}

.query-wizard-expension div {
    margin: 0px 3px;
}

.dropdown-no-m {
    margin-right: 0px !important;
}

.dropdown-with-img {
    margin-right: -2px !important;
    min-height: 47px;
}

.ID-Field {
    width: 450px;
}