@media screen and (max-width: 767px) {
    .profile-box {
        padding: 10px;
    }

    .total-comments-wraper {
        padding-top: 30px;
    }

    .profile-name {
        font-size: 16px;
    }

    .total-comments {
        margin-bottom: 10px !important;
    }

    .inner-tab-content-right-col {
        margin-top: 20px !important;
    }

    .add-comment-section {
        margin-top: 15px !important;
    }

    .profile-comment-time-update {
        margin-right: 0px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .profile-comment-time-stamp-box {
        flex-direction: column;
    }

    .comments-text {
        font-size: 14px !important;
    }

    .add-tags-left-col {
        width: 100%;
        order: 2;
        overflow-x: auto;
    }

    .add-tags-container {
        display: flex;
        padding: 20px 10px;
        flex-direction: column;
    }

    .add-tags-right-col {
        flex: 1;
        margin-left: 0px;
        margin-bottom: 20px;
    }

    .tags-field-box {
        display: flex;
        flex-direction: column;

        input:first-child {
            margin-right: 20px;
        }

    }

    .tree-list-div .device-tab-detail-box {
        padding: 0px !important;
        overflow-x: scroll;
        width: 700px;
    }

    // login page css
    .intro {
        padding: 20px;
    }

    .right-panel-div {
        width: 100%;
        padding: 20px;
    }

    .left {
        width: 100%;
        height: 30%;
    }

    .slider {
        display: none;
        /*width: 100%;
		height: 70%;*/
    }

    .LoginPanel {
        padding: 0px;
    }

    .LoginPanel .fieldsBotSection label {
        font-size: 13px;
        transition: all 0.3s ease-in-out 0s;
    }

    .LoginPanel .fieldsBotSection .forgotLink {
        font-size: 13px;
        transition: all 0.3s ease-in-out 0s;
    }

    .LoginPanel .fieldsSection .userName {
        margin-bottom: 40px;
    }

    .LoginPanel h1 {
        font-size: 28px;
        margin: 40px 0px 8px 0px;
    }

    .LoginPanel h3 {
        font-size: 16px;

    }

    .LoginPanel .fieldsSection .userName {
        margin-bottom: 40px;
    }

    .LoginPanel .fieldsBotSection label {
        padding: 16px 0px;
        padding-left: 25px;

    }


    .try-free-btn {
        padding: 12px !important;
        font-size: 13px;
        transition: all 0.3s ease-in-out 0s;
    }

    .Connectors-top-searchbar-div {
        flex-direction: column;
    }

    .Connectors-top-searchbar-div .search-wrap {
        width: 100%;
    }

    .toggle-btn-div {
        margin-top: 15px;
    }

    .connectors-main-wrapper .inner-tab-right-section {
        margin-top: 0px !important;
    }

    .field-large {
        width: 100% !important;
    }

    .adapter-modal-bottom-row,
    .modal-add-connections-wrapper .adapter-modal-bottom-row {
        justify-content: inherit;
    }

    .no-file-chisen-items {
        flex-direction: column;
    }

    .adapter-modal-field-row .region-checkbox,
    .adapter-three-col .adapter-modal-role-row-middle {
        padding: 0px !important;
    }

    .modal-add-connections-wrapper .adapter-modal-content-box {
        padding: 15px;
    }

    .modal-add-connections-wrapper .choose-file-modal {
        width: 100%;
    }

    .tags {
        flex-wrap: wrap;
    }

    .tags a {
        text-align: center;
    }

    .modal-add-connections-wrapper .theme-btn {
        width: 100% !important;
    }
}

/*767 screen end here*/


@media only screen and (min-width: 320px) and (max-width: 1023px) {}