@media screen and (max-width: 767px) {

 
   
    .menu-notification span {
        position: absolute;
        right: -12px;
        top: -10px;
     
    }


    .user-profile {

        position: relative;
    }



.active-menu-text {
    font-family: 'proxima-semi-bold';
}
    .bottom-page {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .table-pagination {

        margin-bottom: 10px;
    }



    .dashboard-top-section-query .search-section .search-section-filter {
        display: flex;
        align-items: flex-start;

    }
    header {
        padding: 7px 20px;
        position: relative;

        .logo {
            width: 100px;
        }
    }
    .theme-btn {
        padding: 11px 17px;
        font-size: 15px;
    }


    .dashboard-top-section-query .search-section .search-section-filter .split-pipe {
        margin: 0px 8px;
    }


    .dashboard-top-section-query .search-section .search-section-filter {
        font-size: 15px;
    }

    #content {
        padding: 0px;   
    }


 .top-menu {
     display: none;
 }


 .header-icons {
     display: none;
 }


 header {
    justify-content: space-between;
    flex-direction: row-reverse;
 }
 

 .dashboard-top-section-query .search-section 
 .search-section-box {
    flex-direction: column;
}

.dashboard-top-section-query .search-section 
.search-section-box .search-section-buttons {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}


.menu-notification {
    display: flex;
    flex-direction: column;
}
.profile-name-mobile {
    margin-top: 10px;
    margin-left: 0px;
}


.menu-notification {
    padding-top: 10px;

}


  }


  @media only screen and (min-width: 768px) and (max-width: 1024px)  {




    .top-menu {
        display: none;
    }
   
   
    .header-icons {
        display: none;
    }
   
   
    header {
       justify-content: space-between;
    }
    
   
    .dashboard-top-section-query .search-section 
    .search-section-box {
       flex-direction: column;
   }
   
   .dashboard-top-section-query .search-section 
   .search-section-box .search-section-buttons {
       flex: 1;
       text-align: left;
       margin-top: 20px;
   }
   


  }




  @media only screen and (min-width: 1024px) and (max-width: 9000px)  {

    .menu-btn {
        display: none;
    }


  }

   

