@media screen and (max-width: 767px) {


    .tab-inner-expand-collapse-row .expand-collapse-row-btns {
        margin-top: 35px;
    }


    .devices-tab-right-col-heading {
        margin-bottom: 39px;    
        align-items: center;
        border-bottom: 1px solid #b8b8b8;
        padding-bottom: 20px;
        flex-direction: column;
        text-align: center;
    }


    .inner-tab-content-right-col {
        padding: 0px 20px 30px;
        margin-top: 40px;
     
    }
    
    .device-tabs-wrapper {
        margin-top: 20px;   
    }


    .devices-tab-right-col-heading .circle-company {
        background: #ff8a5b;
        width: 38px;
        height: 38px;
        color: white; 
        margin-right: 0px;
        margin-bottom: 10px;
    }


    .devices-tab-right-col-heading .date-from div:first-child {   
        font-size: 17px;
    }

    .devices-tab-right-col-heading .date-from div:last-child {
        font-size: 16px;
        margin-top: 1px;
        margin-bottom: 10px;
    }




    .device-tabs-wrapper .header-menu {
        margin-left: auto;
        padding: 0px 20px;
    }

    .device-tabs-wrapper .header-menu .nav-tabs a { 
        padding: 18px 10px;
        margin-right: 10px;    
        font-size: 18px;
    }

    .device-tabs-wrapper .inner-tab-content .nav-link {
        font-size: 17px;
        line-height: 20px;   
        color: #4c4c4c;
        padding: 7px 10px;
    }

    .device-tabs-wrapper .inner-tab-content .inner-tab-content-left-col { 
        overflow-y: auto;    
        height: 250px;
    }





    .profile-section {
        padding: 7px 0px;
        a {
            border: 0px !important;
        }
    }
.logout-menu {
    a {
      text-decoration: none !important;
      border-top: 0px !important;
      color: #776FFF !important;
    }
  }

    .page-link {
        padding: 0.5rem 0.5rem;
    }
   .mobile-menu-bottom {
       display: flex;
       justify-content: space-between;
       border-top: 1px solid #e4e4e4;
       border-bottom: 1px solid #e4e4e4;
       

        a {
            border-top: 0px solid #e4e4e4;
            display: flex;
            align-items: center;
            flex: 1;

            &:first-child {
                border-right: 1px solid #e4e4e4;
            }

            .menu-img {
                margin-right: 10px;
            }
       }


   }
    .menu-notification span {
        position: absolute;
        right: -7px;
        top: -10px;
     
    }


    .user-profile {
        position: relative;
        text-align: left;
        margin-left: 0px;
        margin-right: 8px;
    }



.active-menu-text {
    font-family: 'proxima-semi-bold';
}

    .bottom-page {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .table-pagination {

        margin-bottom: 10px;
    }



    .dashboard-top-section-query .search-section .search-section-filter {
        display: flex;
        align-items: flex-start;

    }
    header {
        padding: 7px 20px;
        position: relative;

        .logo {
            width: 100px;
        }
    }
    .theme-btn {
        padding: 11px 17px;
        font-size: 15px;
    }


    .dashboard-top-section-query .search-section .search-section-filter .split-pipe {
        margin: 0px 8px;
    }


    .dashboard-top-section-query .search-section .search-section-filter {
        font-size: 15px;
    }

    #content {
        padding: 0px;   
    }


 .top-menu {
     display: none;
 }


 .header-icons {
     display: none;
 }


 header {
    justify-content: space-between;
    flex-direction: row-reverse;
 }
 

 .dashboard-top-section-query .search-section 
 .search-section-box {
    flex-direction: column;
}

.dashboard-top-section-query .search-section 
.search-section-box .search-section-buttons {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}


.menu-notification {
    display: flex;
 
}
.pushy-content ul li  .profile-name-mobile {  
    margin-left: 6px !important;
}


.menu-notification {
    padding-top: 10px;
}


.pushy-content ul li .profile-name-mobile .profile-category {
    color: #9DA6AF;
    font-size: 12px;
    margin-left: 0px;
 }



  }


  @media only screen and (min-width: 768px) and (max-width: 1024px)  {



    .tab-inner-expand-collapse-row .expand-collapse-row-btns {
        margin-top: 35px;
    }


    .devices-tab-right-col-heading {
        margin-bottom: 39px;    
        align-items: center;
        border-bottom: 1px solid #b8b8b8;
        padding-bottom: 20px;   
   
    }


    .inner-tab-content-right-col {
        padding: 0px 20px 30px;
        margin-top: 0px;
     
    }
    
    .device-tabs-wrapper {
        margin-top: 20px;   
    }


    .devices-tab-right-col-heading .circle-company {
        background: #ff8a5b;
        width: 38px;
        height: 38px;
        color: white;    
        margin-bottom: 10px;
        margin-right: 15px;
    }


    .devices-tab-right-col-heading .date-from div:first-child {   
        font-size: 17px;
    }

    .devices-tab-right-col-heading .date-from div:last-child {
        font-size: 16px;
        margin-top: 1px;
        margin-bottom: 10px;
    }




    .device-tabs-wrapper .header-menu {
        margin-left: auto;
        padding: 0px 20px;
    }

    .device-tabs-wrapper .header-menu .nav-tabs a { 
        padding: 18px 10px;
        margin-right: 10px;    
        font-size: 18px;
    }

    .device-tabs-wrapper .inner-tab-content .nav-link {
        font-size: 17px;
        line-height: 20px;   
        color: #4c4c4c;
        padding: 7px 10px;
    }

    .device-tabs-wrapper .inner-tab-content .inner-tab-content-left-col { 
        overflow-y: auto;    
        height: auto;
    }





    .profile-section {
        padding: 7px 0px;
        a {
            border: 0px !important;
        }
    }
.logout-menu {
    a {
      text-decoration: none !important;
      border-top: 0px !important;
      color: #776FFF !important;
    }
  }

    .page-link {
        padding: 0.5rem 0.5rem;
    }
   .mobile-menu-bottom {
       display: flex;
       justify-content: space-between;
       border-top: 1px solid #e4e4e4;
       border-bottom: 1px solid #e4e4e4;
       

        a {
            border-top: 0px solid #e4e4e4;
            display: flex;
            align-items: center;
            flex: 1;

            &:first-child {
                border-right: 1px solid #e4e4e4;
            }

            .menu-img {
                margin-right: 10px;
            }
       }


   }
    .menu-notification span {
        position: absolute;
        right: -7px;
        top: -10px;
     
    }




    .user-profile {
        position: relative;
        text-align: left;
        margin-left: 0px;
        margin-right: 8px;
    }



.active-menu-text {
    font-family: 'proxima-semi-bold';
}

    .bottom-page {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    .table-pagination {

        margin-bottom: 10px;
    }



    .dashboard-top-section-query .search-section .search-section-filter {
        display: flex;
        align-items: flex-start;

    }
    header {
        padding: 7px 20px;
        position: relative;

        .logo {
            width: 100px;
        }
    }
    .theme-btn {
        padding: 11px 17px;
        font-size: 15px;
    }


    .dashboard-top-section-query .search-section .search-section-filter .split-pipe {
        margin: 0px 8px;
    }


    .dashboard-top-section-query .search-section .search-section-filter {
        font-size: 15px;
    }

    #content {
        padding: 0px;   
    }


 .top-menu {
     display: none;
 }


 .header-icons {
     display: none;
 }


 header {
    justify-content: space-between;
    flex-direction: row-reverse;
 }
 

 .dashboard-top-section-query .search-section 
 .search-section-box {
    flex-direction: column;
}

.dashboard-top-section-query .search-section 
.search-section-box .search-section-buttons {
    flex: 1;
    text-align: center;
    margin-top: 20px;
}


.menu-notification {
    display: flex;
 
}
.pushy-content ul li  .profile-name-mobile {  
    margin-left: 6px !important;
}


.menu-notification {
    padding-top: 10px;
}


.pushy-content ul li .profile-name-mobile .profile-category {
    color: #9DA6AF;
    font-size: 12px;
    margin-left: 0px;
 }



  }




  @media only screen and (min-width: 320px) and (max-width: 1023px)  {

   


  }


  @media only screen and (min-width: 1024px) and (max-width: 9000px)  {

    .menu-btn {
        display: none;
    }


  }

   

